{% extends "layout.html" %}
{% block body %}

  <!-- mainbody -->

  <div class="main-body">
    <div class="form-section">
      <div class="form-title">
        <label for="name">Subject </label>
      </div>
      <div class="b">
        <form method="post" class="b">
          <input type="text" name="subject" id="name" placeholder="eg:- Want to take a leave from Hostel" required>
          <button id="btn-a">Next</button>
        </form>
      </div>
    </div>
    </div>
  </div>

{% endblock %}